		* {
			font-family: Helvetica;
		}		

		body {
			background-color: white;
			color: #1c263f;
		}

		img {
			float: left;
			padding: 10px;
			max-width: 100%;
			height: auto;
		}

		a {
		text-decoration: none;
		color: white;
		}

		header {
  			display: block;
		}
		
		main {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			background-color: white;
		}

		b, h1, h2, h3 {
			color: #223360;
		}

		h1 {
		background-color: white;
		color: #190d05;
		}	

table {
  font-family: arial, sans-serif;
  background-color: #9ab4e0;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c0cfe8;
}

		section, aside {
			background-color: #8498ba;
			margin: 10px;
			padding: 10px;
		}
		
		section {
			flex-basis: 75%;
		}
		aside {
			flex-basis: 25%;
		}
		.none {
			display: none;
		}
		.hide {
			display: block;
		}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3.5rem;   
}
#footer {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #9c9ca4;
  bottom: 0;
  color: white;
  width: 100%;
  height: 4rem; 
  padding-left: 15px;
}

		@media screen and (max-width: 800px){
			main {
				display: flex;
				flex-direction: column;
			}
			
			section {
				order: 2;
			}
			
			aside {
				order: 1;
			}
			.none {
				display: block;
			}
			.hide {
				display: none;
			}
		}